@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/theme/fonts/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
