#enter {position: relative;background: #fbfbfb url("/theme/agency/img/bg1.jpg") no-repeat scroll center center;
    background-size:cover}
.back {color: #fff;margin: 40px auto 5px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);width: 500px;line-height:32px;height:32px;}
.back  a{color:#fff;}
.back .other{color:#fff; height:30px;float:right}
.back .other a {border: 1px solid #fff;border-radius: 2px;margin-left: 10px;padding: 5px 10px;color:#fff;}
.panel{background:#fff;box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);padding-bottom:30px;width:500px;border:none;margin:0 auto;margin-bottom:100px;}
.panel label{font-weight:normal;margin:10px 0;width:100%}
.panel label a {color: #4fac6a;font-size: 14px;}
.panel-info{border-color:#2196f3;}
.panel-info > .panel-heading {background-color: #fff;border-bottom:2px solid #4cae4c;color: #31708f;padding:18px 20px 15px; display:block;height: 62px;line-height: 32px;}
.panel .panel-heading .caption {font-size: 20px;float: left;color:#444}
.panel .panel-heading .other{float:right;font-size:14px;color:#aaa}
.form-control {height: 44px;width:388px;border:1px solid #e3e3e3}
.input-icon {position: relative;}
.input-icon i {color: #999999;display: block;font-size: 18px;height: 23px;margin: 11px 2px 4px 8px;padding-top: 2px;position: absolute;text-align: center;width: 30px;padding-right:5px;border-right:1px solid #e3e3e3;}
.input-icon input{padding-left: 48px !important;}
.input-icon .sendbtn{background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fff, #fbfbfb) repeat scroll 0 0;border: 1px solid #d0d0d0;cursor: pointer;font-size: 14px;height: 31px;line-height: 31px;position: absolute;right: 12px;text-align: center;text-decoration: none;top: 27px;width: 112px;}
.input-icon .send {color: #62ab00;border-color: #62ab00;}
.input-icon .nosend{  cursor: default;  color: #ccc;  background: #f5f5f5;  border-color: #ccc; }
.input-icon .require{position: absolute;left:400px;position: absolute;top:36px;color:#e4393c}
.input-icon .error{position:absolute;top:3px;left:0px;color:#f00;font-size:12px;margin-left: 1px;}
.input-icon .warning{border-color: #f00;}
.system-enter li a{color:#fff}
.weui_mask_transparent {background:#777777;opacity: 0.3;}