.sidebar-main ul#sidebar-main > li.sidebar-search {padding: 10px 15px;}
.sidebar-main ul#sidebar-main > li > a {padding: 12px 25px;}
.sidebar-main ul#sidebar-main > li > ul.nav-second-level > li > a {padding: 8px 25px 8px 60px;}